<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="content">
    <div id="logo">
        <h1>nmctp</h1>
        </div>
            <ul id="menu">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/nokey/">No-Key</a></li>
                <li><a href="/pmrsa/">Poorman's PKCS</a></li>
                <li><a href="http://github.com/nmctp/" target="_blank">Downloads</a></li>
            </ul>
            <div id="intro">
                <h1>No more <span class="white">clear text passwords</span></h1>
                <div class="description"><span class="red">Stop</span> the nonsense</div>
            </div>
<hr />

<div id="left">

    {{ content }}

</div>

<div id="right">
    <h2><span class="blue">About</span> nmctp</h2>
    <p>nmctp.com is a project to <b>stop the nonsense</b> regarding passwords used in the login protocols of most Web 2.0 projects.</p>
    
     <h2>Documentation</h2>
     <div class="documentation">
         <dl>
             <dt><a href="/nokey/">No-Key</a></dt>
                 <dd><a href="/nokey/installation.html">Installation</a></dd>
                 <dd><a href="/nokey/man.html">man page</a></dd>
                 <dd><a href="http://nmctp.com/nokey/demo.php">Demo</a></dd>
             <dt><a href="/pmrsa/">Poorman's PKCS</a></dt>
                 <dd><a href="/pmrsa/installation/">Installation</a></dd>
                 <dd><a href="/pmrsa/man/">man page</a></dd>
             <dt><a href="/faq/">FAQ</a></dt>
         </dl>
     </div>
</div>

<!-- Analytics 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1598993-6");
pageTracker._trackPageview();
} catch(err) {}</script>
-->

</body>
</html>
